*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Times New Roman', cursive;
}
body{
    height: 100vh;
}
#bg-video{
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.457);
    border-radius: 10px;
}
.container h1{
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 4px solid #2979ff;
    font-size: 30px;
}
.container p{
    text-align: center;
    color: #90caf9;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 10px;
}
.container label{
    text-align: left;
    color: #90caf9;
}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
.btn-hover {
    width: 290px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}
.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}
.btn-hover:focus {
    outline: none;
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.button > .btn-hover.color-9 > a{
    text-decoration: none;
}
.fluid{
    text-align: left;
    color: #90caf9;
    text-transform: uppercase;
    font-size: 10px;
}
.fluid > p > a{
    text-decoration: none;
}
.fluid a {
    color: red;
}
.forget {
    margin: 15px 0;
    font-size: 12px;
    color: #90caf9;
    display: flex;
    justify-content: space-around;
}
.forget label {
    display: flex;
    align-items: center;
}
.forget label input {
    margin-right: 1px;
}
.forget a {
    color: #90caf9;
    text-decoration: none;
    font-weight: 200;
}
.forget a:hover {
    text-decoration: underline;
    transition: all .3s ease to left;
}